.matrix {
    margin: auto;
    width: 80%;
}

.matrix__col {
    display: inline-block;
}

.matrix__col__cell {
    display: block;
    min-height: 10px;
    margin: 5px;
    background-color: lightblue;
    /* border: 1px solid black; */
}

.matrix__col__cell--active {
    background-color: white;
}

.matrix__col__cell--enabled {
    background-color: dodgerblue;
}