.beat-header {
    color: red;
}

.beat-cell {
    outline: none;
    border: none;
    color: black;
    background-color: dodgerblue;
    padding-left: 20px;
}

.beat-cell--active {
    background-color: blue;
    color: white;
}

.matrix-table {
    margin: auto;
}